In [2]:
test_raw = pd.read_csv("test.csv")
test_raw.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [13]:
test = test_raw.iloc[ : 200 ,  :  ]
test

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N
5,id0668992,1,2016-06-30 23:59:30,1,-73.991302,40.749798,-73.980515,40.786549,N
6,id1765014,1,2016-06-30 23:59:15,1,-73.978310,40.741550,-73.952072,40.717003,N
7,id0898117,1,2016-06-30 23:59:09,2,-74.012711,40.701527,-73.986481,40.719509,N
8,id3905224,2,2016-06-30 23:58:55,2,-73.992332,40.730511,-73.875618,40.875214,N
9,id1543102,2,2016-06-30 23:58:46,1,-73.993179,40.748760,-73.979309,40.761311,N
10,id3024712,1,2016-06-30 23:58:32,4,-73.968529,40.678432,-73.966591,40.635712,N
11,id3665810,2,2016-06-30 23:58:05,1,-73.982773,40.756908,-73.974693,40.753330,N
12,id1836461,1,2016-06-30 23:58:01,1,-73.921104,40.767292,-73.936859,40.774044,N
13,id3457080,2,2016-06-30 23:57:57,1,-73.986801,40.734917,-73.975899,40.756893,N
14,id3376065,1,2016-06-30 23:57:25,1,-73.996346,40.748161,-73.950829,40.782825,N
15,id3008739,1,2016-06-30 23:57:22,1,-73.968025,40.762283,-73.934792,40.797436,N
16,id0902216,2,2016-06-30 23:56:44,1,-74.007713,40.740681,-73.968811,40.753860,N
17,id3564824,2,2016-06-30 23:55:36,5,-73.984299,40.724983,-73.981819,40.740597,N
18,id0820280,2,2016-06-30 23:55:28,1,-73.952599,40.768322,-73.948555,40.773724,N
19,id0775088,2,2016-06-30 23:55:20,1,-73.966690,40.794090,-73.920776,40.830059,N
20,id1468488,2,2016-06-30 23:55:13,1,-73.994690,40.725819,-73.987160,40.729259,N
21,id2657479,1,2016-06-30 23:55:12,1,-73.965950,40.758068,-73.977524,40.742527,N
22,id1262719,2,2016-06-30 23:55:04,5,-73.986382,40.762001,-73.966148,40.762089,N
23,id1345524,2,2016-06-30 23:54:55,1,-73.955986,40.714069,-73.980682,40.675735,N
24,id2911638,1,2016-06-30 23:54:45,1,-73.984100,40.742760,-73.956001,40.784809,N
25,id2849512,2,2016-06-30 23:54:16,3,-73.872993,40.773979,-73.962440,40.774712,N
26,id0236829,1,2016-06-30 23:53:06,1,-73.967621,40.762856,-73.952301,40.782181,N
27,id2905906,1,2016-06-30 23:52:34,1,-73.985359,40.759548,-73.973267,40.763294,Y
28,id3737939,1,2016-06-30 23:52:15,2,-73.987526,40.765511,-73.938713,40.849827,N
29,id0766179,2,2016-06-30 23:51:42,2,-73.985344,40.747356,-73.978378,40.675571,N
...,...,...,...,...,...,...,...,...,...
170,id3174102,1,2016-06-30 23:09:38,1,-73.995453,40.720833,-73.973274,40.743828,N
171,id3841591,1,2016-06-30 23:09:09,1,-73.979774,40.726978,-74.002213,40.738708,N
172,id2828449,1,2016-06-30 23:08:34,2,-73.872978,40.774151,-73.974541,40.755821,Y
173,id0132202,2,2016-06-30 23:08:27,1,-73.983414,40.743961,-73.978188,40.753391,N
174,id2155048,2,2016-06-30 23:07:03,1,-74.000427,40.727421,-74.002678,40.726681,N
175,id1478994,1,2016-06-30 23:06:52,4,-73.779160,40.647488,-73.732613,40.681519,N
176,id0152661,2,2016-06-30 23:06:27,2,-74.012932,40.716141,-74.010178,40.724491,N
177,id2557936,2,2016-06-30 23:05:58,5,-73.983543,40.765850,-73.962311,40.763470,N
178,id1132188,2,2016-06-30 23:05:49,2,-74.007957,40.740410,-73.994858,40.721352,N
179,id2600155,1,2016-06-30 23:05:39,1,-73.933205,40.758533,-73.929482,40.758564,N
180,id1370403,1,2016-06-30 23:05:32,1,-73.986794,40.761406,-73.836494,40.865215,N
181,id1391881,1,2016-06-30 23:05:25,2,-73.992691,40.718658,-73.984535,40.728714,N
182,id0469584,1,2016-06-30 23:05:09,1,-73.981407,40.763210,-73.945152,40.778561,N
183,id1884057,1,2016-06-30 23:05:05,2,-73.988388,40.745701,-74.010689,40.709030,N
184,id3437390,2,2016-06-30 23:05:03,1,-73.976830,40.788059,-73.982033,40.778702,N
185,id2139791,2,2016-06-30 23:04:57,1,-73.978699,40.734550,-73.995529,40.679241,N
186,id2824398,1,2016-06-30 23:04:33,3,-73.983093,40.749611,-73.986641,40.729675,N
187,id2349329,1,2016-06-30 23:04:27,1,-73.958687,40.763840,-73.990021,40.767078,N
188,id2767155,2,2016-06-30 23:04:24,1,-73.954849,40.773281,-73.973160,40.748451,N
189,id2510692,1,2016-06-30 23:04:16,1,-73.980438,40.764610,-73.947121,40.815693,N
190,id0572623,2,2016-06-30 23:04:03,1,-74.000954,40.736542,-73.967262,40.788090,N
191,id1394395,1,2016-06-30 23:03:46,2,-74.001091,40.731480,-73.989326,40.757545,N
192,id1555305,2,2016-06-30 23:02:55,1,-73.986397,40.732170,-73.896378,40.701019,N
193,id2420516,2,2016-06-30 23:02:52,5,-74.009041,40.713451,-74.005478,40.720161,N
194,id1500597,1,2016-06-30 23:02:19,1,-73.981056,40.782131,-74.014641,40.718113,N
195,id1899288,1,2016-06-30 23:02:18,1,-74.005188,40.720501,-74.005241,40.721172,N
196,id1472524,1,2016-06-30 23:00:57,1,-73.975075,40.765194,-73.973289,40.763969,N
197,id1993020,1,2016-06-30 23:00:52,1,-74.013535,40.713577,-73.972374,40.794918,N
198,id2273329,2,2016-06-30 23:00:17,1,-73.977631,40.752106,-73.966530,40.767056,N
199,id0927586,1,2016-06-30 23:00:01,1,-73.984001,40.761505,-74.003944,40.734730,N

In [ ]:
test