In [ ]:
from ipyleaflet import * 
import time

In [1]:
train_raw = pd.read_csv("train.csv")
train_raw.tail()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

데이터가 너무 많아 맨 처음 100개(0~99)까지만 추려 먼저 표시

In [ ]:
train = train_raw.iloc[ : 100, : ]
train.tail()

loc  = [(latitude, longitude)] # 이 순서대로 작성할 것.

In [ ]:
#소수점 3자리까지 절삭(약 130m 단위)
pick_up_longitude = round(train["pickup_longitude"][ : 500], 3)
pick_up_latitude = round(train["pickup_latitude"][ : 500], 3)

In [ ]:
locs = list(zip(pick_up_latitude, pick_up_longitude))

In [ ]:
center = (40.749756, -73.975418)
zoom = 13
m = Map(center = center, zoom = zoom)

In [ ]:
for loc in locs :
    marker = Marker(location = loc)
    m += marker
    time.sleep(0.5)
m

In [ ]:
dc = DrawControl(circle={'shapeOptions':{'color':'#0000FF'}}, rectangle={'shapeOptions':{'color':'#0000FF'}})
m.add_control(dc)

너무 세세하게 표현되어 있음

- 소수 넷째자리를 1 증가 했을 시 구글 지도상 거리 약 1m 변화( 3ft)
- 소수 셋째자리를 1 증가 했을 시 구글 지도상 거리 약 130m 변화(427ft)

소수 셋째 자리까지 변화시켜도 특별한 뭔가를 찾을 수 없었음
-> 특별하게 많이 타는 곳이 있는지 알아보자

In [ ]:
#scatter를 이용한 위도 경도 분포 파악
train_set = train_raw.iloc[ : , : ]
train_set.tail()

In [ ]:
import seaborn as sns
sns.jointplot(x = "pickup_latitude", y = "pickup_longitude", data = train_set)

1. 맨 아래점은 뉴욕에서 약 953시간 걸린 곳에서 pick up했다는 얘기.
2. 맨 오른쪽 점은 캐나다 퀘백에서 pick up했다는 얘기.
3. 위도, 경도상으로 제거해야할 아웃라이어들?

- pick_up 위도와 경도 data들을 위치상 비슷한 곳들이 있는지 구별해보자
    - 위치상 비슷한 곳들 = 위도 경도가 비슷한 곳들
    - 위도, 경도가 비슷하려면? 수치 차이가 크지 않아야함.

In [ ]:
# data set copy
data_set = train_raw.copy()

In [ ]:
data_set["pickup_latitude"] = round(train_raw["pickup_latitude"], 3)
data_set["pickup_longitude"] = round(train_raw["pickup_longitude"], 3)

In [ ]:
data_set.tail()

In [ ]:
def  greater(data_set, column, n_range, n) : 
    """ ****  column에서 n보다 더 큰 수치를 뽑아냄  ******
    
          column(str) : data_set의 위도, 경도 데이터를 넣어준다
          range(bool) : 걸러낼 범위( ex : 76 입력시 -> pickup_longtitude > 76 )
          n(int) : 십진수로 표현된 위도, 경도의 소수 몇 번째 단위로 걸러낼 것인지"""
    short_column = round(data_set[column], n)
    new_column = short_column >= float(n_range)
    data_set[new_column].reset_index()
    return data_set[new_column]

In [ ]:
def  not_grater(data_set, column, n_range, n) : 
    """ ****  column에서 n보다 더 큰 수치를 뽑아냄  ******
    
          column(str) : data_set의 위도, 경도 데이터를 넣어준다
          range(bool) : 걸러낼 범위( ex : 76 입력시 -> pickup_longtitude > 76 )
          n(int) : 십진수로 표현된 위도, 경도의 소수 몇 번째 단위로 걸러낼 것인지"""
    short_column = round(data_set[column], n)
    new_column = short_column <= float(n_range)
    data_set[new_column].reset_index()
    return data_set[new_column]

In [ ]:
result = data_set.groupby("pickup_latitude").size()
sns.jointplot(x = "dropoff_latitude", y = "dropoff_longitude", data = data_set)

In [ ]:
datas = train_raw.copy()

In [ ]:
datas.head()

In [ ]:
datas.iloc[3].iloc[5]

where_you_going 함수에 여러 명도 넣을 수 있게 추가?

In [ ]:
def where_you_going(*n) :
    """ check before using it!!
    from ipyleaflet import * 
    import time
    """
    for _ in n :
        info = datas.iloc[n]
        print(info)
        pickup_longitude = info.iloc[5]
        pickup_latitude = info.iloc[6]
        pickup_point = (pickup_latitude, pickup_longitude)

        dropoff_longitude = info.iloc[7]
        dropoff_latitude = info.iloc[8]
        dropoff_point = (dropoff_latitude, dropoff_longitude)
        zoom = 12
        center = (40.766779, -73.974452)
    
        ls = [pickup_point, dropoff_point]
        mapping = Map(center = center, zoom = zoom)
        for loc in ls : 
            marker = Marker(location = loc)
            mapping += marker
    
    return mapping

In [ ]:
pickup_coordinates = list(zip(datas.pickup_latitude, datas.pickup_longitude))
print(pickup_address[0])

- google api를 이용, 좌표를 주소로 바꾸어 주소 내 미국 우편 번호로 그룹화 해보려함.
- 구글 api의 일일 사용량 2500개에 제한이 걸려 실패 - 방법이 없을까....

In [ ]:
import googlemaps

In [ ]:
gmaps = googlemaps.Client(key = "AIzaSyC-G1KjDoFkJuWBnMjRBzlKwxlKja9udHc")

pickup_address = []
for loc in pickup_coordinates :
    sample = gmaps.reverse_geocode(loc)
    result = sample[0].get("formatted_address")
    pickup_address.append(result)
    if len(pickup_address) == 1 :
        break

In [ ]:
post_number = []
for idx, value in enumerate(pickup_address) : 
    number = value.split(",")
    post_number.append(number)
print(post_number[:10])

In [ ]:
where_you_going(0)

여태까지 위도와 경도를 다뤄보았다면, 이제는 시간을 위주로 다뤄보자.

In [ ]:
time_check = train_raw.copy()
time_check.head()

데이터 들을 시간순으로 정렬해서 보면 좋겠다. 
(계절별, 요일별로 영향을 끼칠지도 모른다.)

In [ ]:
#datetime을 요일까지 우선 잘라보자
pickup_duration = pd.DataFrame(time_check, columns = ["pickup_datetime", "trip_duration"])
def month(line) :
    return line[5:7]

In [ ]:
pickup_duration["month"] = pickup_duration["pickup_datetime"].apply(month)
pickup_duration.groupby("month").size()

pick time은 1월- 6월 밖에 없음.  월별 큰 차이 없음

In [ ]:
#시간에 따른 요일 파악 가능
from dateutil import parser
date = parser.parse("2016-03-14 17:24:55")
date

date.strftime('%A')

시간에 따른 요일을 알아낼 수 있다.

## pandas 시계열 분석 시 필요 사항 정리
### (필수!)- str -> datetime 형태로 변형
### (필수!)- datetime 형태의 값이 index에 위치해야함(ex. df.set_index()  사용 가능)


1. 리샘플링(시간 단위를 간편하게 변경 가능)
    - resample
    - asfreq
2. 시간 이동(그래프로 표현한 시간 단위를 왔다갔다 하며볼 수 있음)
    - shift
    - tshift
3. datetime 으로 변환 후, 인덱싱으로 해당 날짜만 데이터만 불러오기 가능(Series의 인덱싱과 유사하게 작동)
  ex) df["2016-03-20"] -> 16년 3월 20일 날짜만 가져오기

4. datetime 으로 변환 후, 요일로 변환 가능
 ex) date.strftime("%A")

시계열 분석 시, 미국 시간으로 되어있는 로우 데이터에 시간을 코딩하게 될 경우 우리나라 시간 기준으로 바뀌지 않을까?
바뀐다면 어떻게 미국으로 다시 바꿔줘야 하나?

In [ ]:
time_check["pickup_object"] = time_check["pickup_datetime"][0][:-9].apply(lambda x : pd.to_datetime(str(x), format = '%Y%m%d'))

# time_check["pickup_object"] = time_check["pickup_datetime"].apply(lambda x : pd.to_datetime(str(x), format = '%Y%m%d'))

In [ ]:
df = pd.DataFrame(time_check["trip_duration"])
index = time_check["pickup_datetime"]
index = pd.to_datetime(index)
df = df.set_index(index)
weekly_duration = df.resample("w").mean()
weekly_duration

In [ ]:
weekly_duration.plot()

미국과 한국은 같은 북반구에 있으므로 계절의 변화가 같음. = 2월 앞뒤로 trip_duration 이 급증 후 규칙적으로 오르락 내리락, 결과적으로 증가

In [ ]:
df = pd.DataFrame(time_check["trip_duration"])
index = time_check["pickup_datetime"]
index = pd.to_datetime(index)
df = df.set_index(index)
daily_duration = df.resample("d").mean()

In [ ]:
daily_duration

In [ ]:
daily_duration.plot()

In [ ]:
daily_duration.describe()

In [ ]:
#연,월,일 고정 -> 시간순으로 정렬
test = df['2016-03-20']
test.resample('H').mean()

### 2/12일 오늘의 EDA
1. 불필요한 코드 및 커널 제거
2. 나름대로 아웃라이어 제거한 후, EDA 재시작 할 것.
3. 시간 상 교통량 변화 체크

In [2]:
#아웃라이어 제거 - 박스 플랏(box plot) 이용해, 데이터 형태 확인.
data = train_raw.copy()